/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

img,
picture,
video,
canvas,
svg {
  max-inline-size: 100%;
  block-size: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

@keyframes opacity-animation {
	0% {
        opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes movement-animation {
	0% {
        transform: translate(100%, 0);
	}
	100% {
        transform: translate(0, 0);
	}
}
/* Variables */
:root{
	/* ## Colors */
	--black: hsl(0, 0%, 0%);
	--gray: hsl(0, 0%, 87%);
	--white: hsl(0, 0%, 100%);
    --yellow: hsl(28, 100%, 79%);
    --pink: hsl(329, 36%, 59%);
    --blue: hsl(229, 100%, 67%);


	/* Fonts */
	--dm: 'DM Sans', sans-serif;
	--regular: 400;
	--bold: 700;
}

/* Buttons */
.button-1, .button-3{
    font-size: 15px;
	font-size: 0.9375rem;
    font-weight: var(--bold);
	letter-spacing: 2.5px;
	text-transform: uppercase;
}
.button-1{
    background-color: var(--black);
    color: var(--white);
}
.button-3{
    background-color: var(--white);
    color: var(--black);
}
.button-1:hover, .button-3:hover{
    background-color: var(--gray);
    color: var(--black);
    cursor: pointer;
}
.button-2, .button-4{
    background-color: transparent;
    border: none;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 100%;
}
.button-2 a, .button-4 a{
    font-size: 12px;
	font-size: 0.75rem;
    font-weight: var(--bold);
    letter-spacing: 2px;
    text-transform: uppercase;
}
.button-2 a{
    color:var(--black); 
}
.button-2 svg{
    justify-self: stretch;
    align-self: center;
}
.button-2 svg g{
    fill: transparent;
    stroke: var(--black);
}
.button-4 a{
    justify-self: stretch;
    align-self: center;
    color:var(--white); 
}
.button-4 svg{
    justify-self: stretch;
    align-self: center;
}
.button-4 svg g{
    fill: transparent;
    stroke: var(--white);
}
.button-2 a:hover, .button-4 a:hover{
    cursor: pointer;
    text-decoration: underline;
}

/* Headings */
.heading-1{
    font-size: 32px;
	font-size: 2rem;
    font-weight: var(--bold);
	letter-spacing: 3.33px;
    line-height: 40px;
    text-transform: uppercase;
}
.heading-2{
    font-size: 18px;
	font-size: 1.125rem;
    font-weight: var(--bold);
    line-height: 25px;
}
.heading-3{
    font-size: 13px;
	font-size: 0.8125rem;
}
.heading-4{
    font-size: 12px;
	font-size: 0.75rem;
    letter-spacing: 2px;
    font-weight: var(--bold);
    text-transform: uppercase;
}
.heading-5{
    font-size: 24px;
	font-size: 1.5rem;
    line-height: 25px;
    font-weight: var(--bold);
}
.heading-6{
    font-size: 40px;
	font-size: 2.5rem;
    line-height: 48px;
    letter-spacing: 4.17px;
    font-weight: var(--bold);
}
.heading-7{
    font-size: 10px;
	font-size: 0.625rem;
    letter-spacing: 1.67px;
    font-weight: var(--bold);
    opacity: 0.5;
    text-transform: uppercase;
}
.text-body{
    font-size: 15px;
	font-size: 0.9375rem;
    line-height: 25px;
}

/* Home */
html {
    font-size: 16px;
    font-size: 1rem;
	font-family: var(--dm);
	font-weight: var(--regular);
}
.home{
	width: 100vw;
	height: 1377.6vw;
    min-width: 280px;
    min-height: 3857px;
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-width: none; 
}
.home-page::-webkit-scrollbar {
	width: 0;
}
.home-page{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 1.4% 13.8% 26.71% 29.04% 18.62% 10.43%;
	grid-template-columns: 100%;
}
.shadow{
    background-color: var(--gray);
    filter: brightness(0.4);
    -webkit-filter: brightness(0.4);;
}
.masthead{
    grid-row: 1/2;
    grid-column: 1/2;
    justify-self: stretch;
    align-self: stretch;
    height: 72px;
    width: 100%;
	padding: 7.47% 6.4%;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: repeat(2, auto);
    position: fixed;
    background-color: var(--white);
    z-index: 1;
}
.masthead svg{
	justify-self: stretch;
	align-self: center;
    width: 170px;
    height: 18px;
}
.masthead .menu-toggle{
	justify-self: end;
	align-self: center;
	z-index: 2;
}
.masthead .menu-toggle img{
	height: 37.5%;
	width: auto;
	object-fit: contain;
	vertical-align: middle;
}
.masthead .menu-toggle:hover{
	cursor: pointer;
}
.masthead .main-navigation{
	grid-column: 1/3;
	display: grid;
    grid-template-rows: 63.49% 36.51%;
	align-self: start;
	justify-self: end;
	width: 100%;
	height: 37.93vh;
	color: var(--black);
    background-color: var(--white);
	position: fixed;
	top: 72px;
	right: 0;
	opacity: 0;
    transition: opacity 500ms ease-in-out;
    visibility: hidden;
}
.masthead .open {
    opacity: 1;
	transition: opacity 500ms ease-in-out;
    visibility: visible;
}
.masthead .main-navigation ul{
    justify-self: stretch;
    align-self: stretch;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 100%;
    margin: 8.53% 8.8% 0;
    border-bottom: 1px solid var(--gray);
}
.masthead .main-navigation ul li{
    justify-self: center;
    align-self: stretch;
}
.masthead .main-navigation ul li a{
    font-size: 15px;
	font-size: 0.9375rem;
    font-weight: var(--bold);
	letter-spacing: 2.5px;
	text-transform: uppercase;
    color: var(--black);
}
.masthead .main-navigation ul li a:hover{
    color: var(--gray);
}
.masthead .main-navigation .navigation-button{
    margin: 5.33% 8.8% 8.53%;
}
.home-page .main{
    grid-row: 2/3;
    grid-column: 1/2;
    justify-self: stretch;
	align-self: stretch;
	display: grid;
	grid-template-rows: 41.23% 58.77%;
	grid-template-columns: 100%;
}
.entry-thumbnail{ /* Se aplica a todas las imagenes de contenido */
    justify-self: stretch;
	align-self: stretch;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
}
.entry-thumbnail img{
    grid-row: 1/2;
	grid-column: 1/2;
    justify-self: stretch;
    align-self: center;
	object-fit: contain;
	object-position: center;
}
.home-page .main .entry-thumbnail::after,
.features-page .main .entry-thumbnail::after,
.pricing-page .main .entry-thumbnail::after{
    content: "";
    display: block; 
    margin: 0 8.8% 0;
    width: 34.13%;
    height: 6px;
    background: linear-gradient(to right top, var(--yellow), var(--pink), var(--blue));
    position: relative;
}
.home-page .main .entry-body{
    padding: 19.2% 6.4% 19.2% 8.8%;
    justify-self: stretch;
	align-self: stretch;
    display: grid;
    grid-template-rows: 49.45% 44.73% 5.82%;
    grid-template-columns: 100%;
    background-color: var(--black);
}
.home-page .main .entry-body .entry-tittle{
    justify-self: start;
    align-self: start;
	text-transform: uppercase;
    color: var(--white);
    text-wrap: balance;
}
.home-page .main .entry-body .entry-summary{
    justify-self: start;
    align-self: start;
    color: var(--gray);
    opacity: .6;
}
.home-page .main .entry-body .entry-button{
    justify-self: start;
    align-self: stretch;
    grid-column-gap: 18px;
}
.home-page .main .entry-body .entry-button a{
    justify-self: stretch;
    align-self: center;
}
.home-page .main .entry-body .entry-button a:hover{
    text-decoration: underline;
}
.home-page .properties{
    grid-row: 3/4;
    grid-column: 1/2;
    justify-self: stretch;
	align-self: stretch;
	display: grid;
	grid-template-rows: 50% 50%;
	grid-template-columns: 100%;
}
.home-page .properties .property{
    justify-self: stretch;
	align-self: stretch;
	display: grid;
	grid-template-rows: 39.28% 60.72%;
	grid-template-columns: 100%;
}
.home-page .properties .property .entry-body{
    padding: 19.2% 6.4% 19.2% 8.8%;
    justify-self: stretch;
	align-self: stretch;
    display: grid;
    grid-template-rows: 43.64% 50.54% 5.82%;
    grid-template-columns: 100%;
}
.home-page .properties .property .entry-body .entry-tittle{
    justify-self: start;
    align-self: end;
	text-transform: uppercase;
    color: var(--black);
    text-wrap: balance;
}
.home-page .properties .property .entry-body .entry-summary{
    justify-self: start;
    align-self: center;
    color: var(--black);
    opacity: .6;
}
.home-page .properties .property .entry-body .entry-button{
    justify-self: start;
    align-self: start;
    grid-column-gap: 18px;
}
.home-page .properties .property .entry-body .entry-button a{
    justify-self: stretch;
    align-self: center;
}
.home-page .stories{
    grid-row: 4/5;
    grid-column: 1/2;
    justify-self: stretch;
	align-self: stretch;
	display: grid;
	grid-template-rows: repeat(4, auto);
	grid-template-columns: 100%;
}
.home-page .stories .entry-story{
    justify-self: stretch;
	align-self: stretch;
	display: grid;
    grid-template-rows: 62.93% 6.67% 8.8% 21.6%;
    grid-template-columns: 8.8% 82.4% 8.8%;
}
.stories .entry-story .entry-thumbnail{
    grid-row: 1/5;
    grid-column: 1/4;
    position: relative;
}
.stories .entry-story .entry-thumbnail::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, hsl(0, 0%, 0%, 66.12%), transparent);
}
.stories .entry-story .entry-tittle{
    grid-row: 2/3;
    grid-column: 2/3;
    justify-self: stretch;
	align-self: stretch;
    color:var(--white); 
    position: relative;
}
.stories .entry-story .entry-author{
    grid-row: 3/4;
    grid-column: 2/3;
    justify-self: stretch;
	align-self: start;
    color:var(--white); 
    position: relative;
}
.stories .entry-story .entry-button{
    grid-row: 4/5;
    grid-column: 2/3;
    padding-bottom: 10.67%;
    border-top: 1px solid hsl(0, 0%, 87%, 25%);;
    justify-self: stretch;
	align-self: stretch;
    position: relative;
}
.stories .entry-story .entry-button a{
    justify-self: start;
    align-self: center;
}
.stories .entry-story .entry-button svg {
    justify-self: end;
    align-self: center;
} 
.features{
    grid-row: 5/6;
    grid-column: 1/2;
    justify-self: stretch;
	align-self: stretch;
	display: grid;
	grid-template-rows: 29.42% 27.18% 29.42%;
	grid-template-columns: 100%;
    grid-row-gap: 6.98%;
    padding: 21.33% 8.8%;
}
.features .entry-feature{
    justify-self: stretch;
	align-self: stretch;
	display: grid;
	grid-template-rows: auto auto 75px;
	grid-template-columns: 100%;
}
.features .entry-feature svg{
    justify-self: center;
    align-self: start;
}
.features .entry-feature .entry-tittle{
    justify-self: center;
    align-self: end;
    color:var(--black);
    padding-bottom: 5.16%;
}
.features .entry-feature .entry-summary{
    justify-self: center;
    align-self: stretch;
    color:var(--black);
    opacity: 0.6; 
    text-align: center;
}
.footer{
    grid-row: 6/7;
    grid-column: 1/2;
    justify-self: stretch;
	align-self: stretch;
	display: grid;
	grid-template-rows: 11.24% 44.5% 31.62% 12.64%;
	grid-template-columns: 100%;
    padding: 14.93% 8.8%;
    background-color: var(--black);
    color: var(--white);
}
.footer .logo{
    justify-self: center;
    align-self: start;
}
.footer .logo svg g #icon-text{
    fill: var(--white);
}
.footer .footer-navigation{
    justify-self: stretch;
	align-self: stretch;
	display: grid;
    grid-template-rows: 36.32% 63.68%;
    grid-template-columns: 100%;
}
.footer .footer-navigation .footer-social{
    justify-self: stretch;
	align-self: start;
	display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(5, auto);
    grid-column-gap: 5.25%;
    padding: 0 25.16%;
}
.footer .footer-navigation .footer-social li{
    justify-self: stretch;
    align-self: stretch;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
}
.footer .footer-navigation .footer-social li a{
    justify-self: center;
    align-self: stretch;
    width: 20px;
    height: auto;
}
.footer .footer-navigation .footer-social li a svg{
    vertical-align: middle;
}
.footer .footer-navigation .footer-social li a svg path{
    fill:var(--white);
}
.footer .footer-navigation .footer-social li .icon-facebook svg path:hover{
    fill:url(#facebook-color)
}
.footer .footer-navigation .footer-social li .icon-youtube svg path:hover{
    fill:url(#youtube-color)
}
.footer .footer-navigation .footer-social li .icon-twitter svg path:hover{
    fill:url(#twitter-color)
}
.footer .footer-navigation .footer-social li .icon-pinterest svg path:hover{
    fill:url(#pinterest-color)
}
.footer .footer-navigation .footer-social li .icon-instagram svg path:hover{
    fill:url(#instagram-color)
}
.footer .footer-navigation .footer-menu{
    justify-self: stretch;
	align-self: stretch;
	display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 100%;
}
.footer .footer-navigation .footer-menu li{
    justify-self: center;
    align-self: stretch;
}
.footer .footer-navigation .footer-menu li a:hover{
    color: var(--gray);
    opacity: 0.3;
}
.footer .footer-button{
    justify-self: center;
	align-self: stretch;
    grid-column-gap: 22px;
    padding-top: 38.39%;
}
.footer .footer-button a{
    justify-self: center;
    align-self: center;
}
.footer .footer-button svg{
    justify-self: end;
    align-self: center;
} 
.footer .footer-copy{
    justify-self: center;
    align-self: end;
    font-size: 15px;
	font-size: 0.9375rem;
    color:var(--white);
    opacity: 0.5025;
}

/* Stories page */
.stories-page{
	width: 100vw;
	height: 1979.47vw;
    min-width: 280px;
    min-height: 5542px;
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-width: none; 
}
.stories-contain::-webkit-scrollbar {
	width: 0;
}
.stories-contain{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 0.97% 10.94% 80.83% 7.26%;
	grid-template-columns: 100%;
}
.stories-contain .main{
    grid-row: 2/3;
    grid-column: 1/2;
    justify-self: stretch;
    align-self: stretch;
    display: grid;
    grid-template-rows: 39.04% 60.96%;
    grid-template-columns: 100%;
}
.stories-contain .main .entry-body{
    padding: 12.8% 7.73%;
    justify-self: stretch;
    align-self: stretch;
    display: grid;
    grid-template-rows: 8.02% 34.08% 10.28% 43.61% 4.01%;
    grid-template-columns: 100%;
    color: var(--white);
    background-color: var(--black);
}
.stories-contain .main .entry-body .entry-pretittle{
    justify-self: stretch;
    align-self: start;
}
.stories-contain .main .entry-body .entry-tittle{
    justify-self: stretch;
    align-self: stretch;
	text-transform: uppercase;
    white-space: break-spaces;
}
.stories-contain .main .entry-body .entry-subtittle{
    justify-self: stretch;
    align-self: stretch;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 36.48% 63.52%;
}
.stories-contain .main .entry-body .entry-subtittle .entry-date{
    opacity: 0.75;
    justify-self: stretch;
    align-self: stretch;
}
.stories-contain .main .entry-body .entry-subtittle .entry-author{
    justify-self: stretch;
    align-self: stretch;
}
.stories-contain .main .entry-body .entry-summary{
    opacity: 0.6;
    justify-self: stretch;
    align-self: stretch;
}
.stories-contain .main .entry-body .entry-button{
    justify-self: start;
    align-self: stretch;
    grid-column-gap: 18px;
}
.stories-contain .main .entry-body .entry-button a{
    justify-self: stretch;
    align-self: center;
}
.stories-contain .stories{
    grid-row: 3/4;
    grid-column: 1/2;
    justify-self: stretch;
    align-self: stretch;
    display: grid;
    grid-template-rows: repeat(16, auto);
    grid-template-columns: 100%;
}
.stories-contain .stories .entry-story{
    justify-self: stretch;
	align-self: stretch;
	display: grid;
    grid-template-rows: 57.33% 5.6% 7.73% 8.8% 20.54%;
    grid-template-columns: 11.11% 77.78% 11.11%;
}
.stories-contain .stories .entry-story .entry-thumbnail{
    grid-row: 1/6;
}
.stories-contain .stories .entry-story .entry-date{
    grid-row: 2/3;
    grid-column: 2/3;
    justify-self: stretch;
	align-self: start;
    color:var(--white); 
    position: relative;
}
.stories-contain .stories .entry-story .entry-tittle{
    grid-row: 3/4;
}
.stories-contain .stories .entry-story .entry-author{
    grid-row: 4/5;
}
.stories-contain .stories .entry-story .entry-button{
    grid-row: 5/6;
}
.stories-contain .footer{
    grid-row: 4/5;
}

/* Features page */
.features-page{
	width: 100vw;
	height: 886.13vw;
    min-width: 280px;
    min-height: 2479px;
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-width: none; 
}
.features-contain::-webkit-scrollbar {
	width: 0;
}
.features-contain{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 2.17% 17.88% 55.06% 8.67% 16.22%;
	grid-template-columns: 100%;
}
.features-contain .main,
.pricing-contain .main{
    grid-row: 2/3;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 49.49% 50.51%;
    grid-template-columns: 100%;
}
.features-contain .main .entry-body,
.pricing-contain .main .entry-body{
    justify-self: stretch;
    align-self: stretch;
    display: grid;
    grid-template-rows: 35.9% 64.1%;
    grid-template-columns: 100%;
    background-color: var(--black);
    color: var(--white);
    padding: 19.2% 7.73%;
}
.features-contain .main .entry-body .entry-tittle,
.pricing-contain .main .entry-body .entry-tittle{
    justify-self: stretch;
    align-self: start;
    text-transform: uppercase;
}
.features-contain .main .entry-body .entry-summary,
.pricing-contain .main .entry-body .entry-summary{
    justify-self: stretch;
    align-self: stretch;
    opacity: 0.6;
}
.features-contain .features{
    grid-row: 3/4;
    grid-template-rows: 14.09% 13.01% repeat(4, 14.09%);
    grid-template-columns: 100%;
    grid-row-gap: 3.308%;
    padding: 17.07% 8.8% 24.26%;
}
.features-contain .invitation,
.pricing-contain .invitation{
    grid-row: 4/5;
    grid-column: 1/2;
    justify-self: stretch;
    align-self: stretch;
    display: grid;
    grid-template-rows: 72.22% 27.78%;
    grid-template-columns: 100%;
}
.features-contain .invitation .entry-thumbnail,
.pricing-contain .invitation .entry-thumbnail{
    grid-row: 1/3;
    grid-column: 1/2;
}
.features-contain .invitation .entry-tittle,
.pricing-contain .invitation .entry-tittle{
    grid-row: 1/2;
    grid-column: 1/2;
    justify-self: stretch;
    align-self: stretch;
    text-transform: uppercase;
    color: var(--white);
    padding: 17.06% 8.8% 0;
}
.features-contain .invitation .entry-button,
.pricing-contain .invitation .entry-button{
    grid-row: 2/3;
    grid-column: 1/2;
    justify-self: start;
    align-self: stretch;
    grid-column-gap: 18px;
    padding: 0 8.8% 17.06%;
}
.features-contain .footer,
.pricing-contain .footer{
    grid-row: 5/6;
    grid-column: 1/2;
}

/* Pricing page */
.pricing-page{
	width: 100vw;
	height: 1060.8vw;
    min-width: 280px;
    min-height: 2970px;
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-width: none; 
}
.pricing-contain::-webkit-scrollbar {
	width: 0;
}
.pricing-contain{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 1.81% 14.93% 62.47% 7.24% 13.55%;
	grid-template-columns: 100%;
}
.pricing-contain .options{
    grid-row: 3/4;
    grid-column: 1/2;
    justify-self: stretch;
    align-self: stretch;
    display: grid;
    grid-template-rows: 5.47% 51.07% 43.46%;
    grid-template-columns: 100%;
}
.pricing-contain .options .entry-button{
    justify-self: stretch;
    align-self: stretch;
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding: 17.07% 16% 10.67%;
}
.pricing-contain .options .entry-button span{
    align-self: center;
}
.pricing-contain .options .entry-button .inactive{
    opacity: 0.5;
}
.pricing-contain .options .entry-button .option-month{
    justify-self: start;
}
.pricing-contain .options .entry-button .option-year{
    justify-self: end;
}
.pricing-contain .options .entry-button .switch-button__checkbox{
    display: none;
}
.pricing-contain .options .entry-button .switch-button__label{
    background-color: var(--gray);
    width: 64px;
    height: 32px;
    border-radius: 3rem;
    display: inline-block;
    position: relative;
    justify-self: center;
}
.pricing-contain .options .entry-button .switch-button__label:before{
    transition: .2s;
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: var(--black);
    content: '';
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 1px black;
}
.pricing-contain .options .entry-button .switch-button__checkbox:checked + .switch-button__label{
    background-color: var(--gray);
}
.pricing-contain .options .entry-button .switch-button__checkbox:checked + .switch-button__label:before{
    transform: translateX(2rem);
}
.pricing-contain .options .plans{
    justify-self: stretch;
    align-self: stretch;
    display: grid;
    grid-template-rows: repeat(3, 32.07%);
    grid-template-columns: 100%;
    grid-row-gap: 1.89%;
    padding: 0 7.73%;
}
.pricing-contain .options .plans .entry-plan{
    justify-self: stretch;
    align-self: stretch;
    display: grid;
    grid-template-rows: 37.94% 23.47% 12.86%;
    grid-template-columns: 100%;
    grid-row-gap: 12.865%;
    background-color: #f5f5f5;
    padding: 17.61% 6.6% 12.58%;
}
.pricing-contain .options .plans .entry-plan .entry-description{
    grid-row: 1/2;
    grid-column: 1/2;
    justify-self: stretch;
    align-self: stretch;
    display: grid;
    grid-template-rows: 36.44% 63.56%;
    grid-template-columns: 100%;
}
.pricing-contain .options .plans .entry-plan .entry-description .entry-tittle,
.pricing-contain .options .plans .entry-plan .entry-description .entry-summary{
    justify-self: stretch;
    align-self: start;
    text-align: center;
}
.pricing-contain .options .plans .entry-plan .entry-description .entry-summary,
.pricing-contain .options .plans .entry-plan .entry-period{
    opacity: 0.6;
}
.pricing-contain .options .plans .entry-plan .entry-price-month,
.pricing-contain .options .plans .entry-plan .entry-price-year{
    grid-row: 2/3;
    grid-column: 1/2;
    justify-self: stretch;
    align-self: stretch;
    display: grid;
    grid-template-rows: 65.75% 34.25%;
    grid-template-columns: 100%;
}
.pricing-contain .options .plans .entry-plan .inactive{
    display: none;
}
.pricing-contain .options .plans .entry-plan .entry-price-month h1,
.pricing-contain .options .plans .entry-plan .entry-price-month span,
.pricing-contain .options .plans .entry-plan .entry-price-year h1,
.pricing-contain .options .plans .entry-plan .entry-price-year span{
    justify-self: stretch;
    align-self: start;
    text-align: center;
}
.pricing-contain .options .plans .entry-plan button{
    grid-row: 3/4;
    grid-column: 1/2;
    justify-self: stretch;
    align-self: stretch;
}
.pricing-contain .options .plans .black{
    background-color: var(--black);
    color: var(--white);
}
.pricing-contain .options .plans .black::after{
    content: "";
    display: block;
    margin-left: -7.73%;
    width: 115.46%;
    height: 6px;
    background: linear-gradient(to right top, var(--yellow), var(--pink), var(--blue));
    position: relative;
}
.pricing-contain .options .benefits{
    justify-self: stretch;
    align-self: stretch;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    padding: 17.07% 7.73%;
}
.pricing-contain .options .benefits .entry-table-header{
    grid-row: 1/2;
    grid-column: 1/2;
    display: none;
}
.pricing-contain .options .benefits .entry-table{
    grid-row: 1/2;
    grid-column: 1/2;
    justify-self: stretch;
    align-self: stretch;
    display: grid;
    grid-template-rows: 4.24% repeat(8, 11.97%);
    grid-template-columns: 100%;
}
.pricing-contain .options .benefits .entry-table .entry-table-tittle{
    justify-self: stretch;
    align-self: stretch;
    border-bottom: 1px solid var(--black);
}
.pricing-contain .options .benefits .entry-table .entry-table-property{
    justify-self: stretch;
    align-self: stretch;
    display: grid;
    grid-template-rows: 17.98% 82.02%;
    grid-template-columns: 100%;
    padding-top: 7.23%;
    border-bottom: 1px solid var(--gray);
}
.pricing-contain .options .benefits .entry-table .entry-table-property .entry-property{
    justify-self: stretch;
    align-self: stretch;
}
.pricing-contain .options .benefits .entry-table .entry-table-property .entry-property-types{
    justify-self: stretch;
    align-self: stretch;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(3, 33.33%);
    padding: 5.03% 0 7.55%;
}
.pricing-contain .options .benefits .entry-table .entry-table-property .entry-property-types span{
    justify-self: stretch;
    align-self: start;
}
.pricing-contain .options .benefits .entry-table .entry-table-property .entry-property-types .tick::after{
    content: "";
    display: block; 
    margin-top: 8px;
    width: 16px;
    height: 12px;
    background-image: url(../assets/pricing/desktop/check.svg);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.pricing-contain .invitation{
    grid-row: 4/5;
    grid-column: 1/2;
}

/* 
##Device = Mobiles
##Screen = narrow screens
*/
@media (max-width: 330px) {
    /* Buttons */
    .button-1, .button-3{
        font-size: 12px;
        font-size: 0.75rem;
    }
    .button-2 a, .button-4 a{
        font-size: 10px;
        font-size: 0.625rem;
    }
    /* Headings */
    .heading-1{
        font-size: 22px;
        font-size: 1.375rem;
        letter-spacing: 2.33px;
        line-height: 30px;
    }
    .heading-2{
        font-size: 12px;
        font-size: 0.75rem;
        line-height: 17px;
    }
    .heading-3{
        font-size: 10px;
        font-size: 0.625rem;
    }
    .heading-4{
        font-size: 10px;
        font-size: 0.625rem;
    }
    .heading-5{
        font-size: 18px;
        font-size: 1.125rem;
        line-height: 7px;
    }
    .heading-6{
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 28px;
    }
    .heading-7{
        font-size: 10px;
        font-size: 0.625rem;
    }
    .text-body{
        font-size: 12px;
        font-size: 0.75rem;
        line-height: 18px;
    }
    /* Main */
    .features .entry-feature .entry-tittle{
        padding-bottom: 1.16%;
    }
    .footer .footer-copy{
        font-size: 12px;
        font-size: 0.75rem;
    }
}